[Unit]
Description=Run NHMS node-27 product archive mover hourly

[Timer]
OnCalendar=*-*-* *:20:00 UTC
Persistent=true
Unit=nhms-node27-product-archive.service

[Install]
WantedBy=timers.target
